{% extends 'user/base.html' %}

{% block title %}
Cà phê
{% endblock %}

{% block content %}
  <div class="containerimg">
      <img src="/static/images/caphe1.svg" alt="" class="img">
      <div class="content">
        <h1>CÀ PHÊ.</h1>
        <p>Phúc Long sẽ luôn đồng hành cùng bạn trên hành trình tìm kiếm những hạt cà phê ngon nhất, rang chúng đến mức hoàn hảo, tôn trọng nguyên bản cho tách cà phê đậm vị, thuần chất Việt.</p>
      </div> 
  </div>
    
  <div class="section1">
    <div class="tieuchi-main">
      <div class="circle"></div>
      <div class="tieuchi-title">
        <h1>04</h1>
        <div class="maintitle">
          <p>tiêu chí để cho ra</p>
          <p>TÁCH CÀ PHÊ <span class="highlight">ĐẬM VỊ</span></p>
          <hr>
        </div>
      </div>
      <div class="tieuchi-content">
        <div class="thu"><img src="/static/images/caphe-icon.svg" alt=""><p>Hương thơm của hạt cà phê</p></div>
        <div class="thu"><img src="/static/images/caphe-icon.svg" alt=""><p>Acid tạo nên vị chua thanh của cà phê</p></div>
        <div class="thu"><img src="/static/images/caphe-icon.svg" alt=""><p>Độ đậm đà trong nước chiết xuất cà phê</p></div>
        <div class="thu"><img src="/static/images/caphe-icon.svg" alt=""><p>Vị cà phê còn đọng lại sau khi thưởng thức</p></div>
      </div>
    </div>
    <div class="subimg">
      <img src="/static/images/caphe2.svg" alt="">
      <img src="/static/images/caphe3.svg" alt="">
    </div>
  </div>

  <div class="section2">
    <p>Tách cà phê hoàn hảo được định nghĩa là tách cà phê có vị đắng đậm đà, chua thanh thoát, lan toả hương thơm nồng nàn, dễ dàng chinh phục vị giác của bất cứ ai.</p>
  </div>

  <div class="section3">
    <input type="radio" name="slider" id="manhme" checked>
    <input type="radio" name="slider" id="tinhte">
    <input type="radio" name="slider" id="cpmui">
    <section>
      <label for="manhme" class="manhme">HƯƠNG VỊ MẠNH MẼ</label>
      <label for="tinhte" class="tinhte">HƯƠNG VỊ TINH TẾ</label>
      <label for="cpmui" class="cpmui">CÀ PHÊ MÙI</label>
    </section>
    <hr>
    <article>
      <div class="content content-1">
        <div class="container swiper">
          <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/manhme-01.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ ROYAL</h3>
                    <p>Cà phê Royal là sự kết hợp hoàn hảo giữa ba loại hạt: Moka, Robusta và Culi theo tỉ lệ nhất định tạo nên sản phẩm hội tụ của sắc, hương và vị.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/manhme-02.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ ROBUSTA</h3>
                    <p>Cà phê Robusta còn gọi là cà phê Vối, được trồng phổ biến tại Việt Nam, có dạng hạt tròn, sậm màu, hàm lượng caffein khoảng 2 – 2.5%.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/manhme-03.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ CULI</h3>
                    <p>Cà phê Culi (Peaberry) có vị đắng gắt, hương thơm say đắm. Đây là cà phê đột biến, chỉ chiếm khoảng 5%  trong một đợt thu hoạch.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/manhme-04.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ KING</h3>
                    <p>Cà phê King là sự kết hợp giữa vị đắng đầm của Moka, vị đắng đậm của Robusta, vị đắng gắt của hạt Culi, tạo nên hương vị mạnh mẽ.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-navBtn swp-btn1"></div>
          <div class="swiper-button-prev swiper-navBtn swp-btn1"></div>
        </div>
      </div>
      <div class="content content-2">
        <div class="container swiper">
          <div class="slide-container2">
            <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/tinhte-01.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ CHERRY</h3>
                    <p>Cà phê Cherry (cà phê Mít) có hạt màu vàng, sáng bóng rất đẹp với vị chua nhẹ, hơi chát, hàm lượng caffein thấp, hương thơm thoang thoảng.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/tinhte-02.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ ARABICA</h3>
                    <p>Cà phê Arabica mùi rất thơm có vị chua, sau khi uống đọng lại cảm giác ngọt ở cổ họng. Đặc biệt Arabica Cầu Đất còn xen lẫn với vị đắng nhẹ.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/tinhte-03.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ MOKA</h3>
                    <p>Cà phê Moka là giống cà phê thuộc chi Arabica, trồng phổ biến tại Đà Lạt, Lâm Đồng, đặc biệt là Moka Cầu Đất thơm sang trọng, chua thanh thoát.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-navBtn swp-btn2"></div>
          <div class="swiper-button-prev swiper-navBtn swp-btn2"></div>
        </div>
      </div>
      <div class="content content-3">
        <div class="container swiper">
          <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-01.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ CHOCOLATE</h3>
                    <p>Cà phê Chocolate là sự kết hợp giữa Moka và Robusta cùng hương Chocolate tạo nên vị dịu ngọt mang đến cảm giác khoan khoái khi thưởng thức.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-02.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ RICH</h3>
                    <p>Cà phê Rich là sự kết hợp độc đáo giữa Chocolate và Espresso tạo nên hương vị thơm ngon, đậm đà, ấn tượng khi thưởng thức.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-03.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ SMOOTH</h3>
                    <p>Cà phê Smooth là sự kết hợp giữa hai dòng Moka và Culi cùng hương Hazelnut mang lại dư vị mới mẻ đánh thức mọi giác quan.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-04.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ CARAMEL</h3>
                    <p>Cà phê Caramel là sự kết hợp giữa Robusta cùng hương Caramel hoà quyện tạo nên vị thơm - ngọt – béo, mang lại cảm giác dễ chịu khi thưởng thức.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-05.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ CAPUCHINO</h3>
                    <p>Cà phê Cappuccino là sự kết hợp giữa Moka và Robusta cùng hương Cappuccino tạo nên sản phẩm có hương thơm và vị béo đặc trưng.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-06.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ VANILLA</h3>
                    <p>Cà phê Vanilla là sự kết hợp hài hòa giữa cà phê Robusta và hương vani Pháp, mang lại cho người thưởng thức vị dịu nhẹ.</p>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-box">
                  <img src="/static/images/cpmui-07.svg" alt="">
                </div>
                <div class="content-details">
                  <div class="name-sub">
                    <h3>CÀ PHÊ HAZELNUT</h3>
                    <p>Cà phê Hazelnut là sự kết hợp hài hoà giữa cà phê Robusta và hương hạt Hazelnut - một lựa chọn hoàn hảo để khởi đầu một ngày mới.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-navBtn swp-btn3"></div>
          <div class="swiper-button-prev swiper-navBtn swp-btn3"></div>
        </div>
      </div>
    </article>
  </div>
{% endblock %}