{% extends "/user/base.html" %}

{% block title %}
Trà
{% endblock %}

{% block content %}
  <div class="containerimg">
      <img src="/static/images\Group 252290.svg" alt="" class="img">
      <div class="content">
          <h1>TRÀ.</h1>
          <p>Phúc Long đã và đang không ngừng tìm kiếm những giống trà hảo hạng, không ngừng tìm tòi - cải tiến phương pháp sản xuất để cho ra đời sản phẩm thuần vị.</p>
      </div>
  </div>

  <div class="hopchat">
    <div class="subimg">
      <img src="/static/images\Group 252291.svg" alt="">
      <img src="/static/images\Group 252292.svg" alt="">
    </div>
    <div class="hopchat-main">
      <div class="circle"></div>
      <div class="hopchat-title">
        <h1>05</h1>
        <div class="maintitle">
          <p>hợp chất đặc biệt từ lá trà làm nên</p>
          <p>TÁCH TRÀ <span class="highlight">ĐẬM VỊ</span></p>
          <hr>
        </div>
      </div>
      <div class="hopchat-content">
        <div class="thu"><img src="/static/images\image 181.svg" alt=""><p>THEANIN (vị ngon)</p></div>
        <div class="thu"><img src="/static/images\image 181.svg" alt=""><p>CARBONHYDRATE (vị ngọt)</p></div>
        <div class="thu"><img src="/static/images\image 181.svg" alt=""><p>POLYPHENOLS (vị chát)</p></div>
        <div class="thu"><img src="/static/images\image 181.svg" alt=""><p>CAFFEIN (vị đắng)</p></div>
        <div class="thu"><img src="/static/images\image 181.svg" alt=""><p>CAFFEIN (vị đắng)</p></div>
      </div>
      <img src="/static/images\image 186.svg" alt="" class="aa">
    </div>
  </div>

  <div class="huongtra">
    <div></div>
    <p> Cầm trên tay tách trà ngát hương, nhâm nhi trọn vị trà truyền thống như là một cách thể hiện tâm tình đối với cuộc sống, cảm thụ hương vị tự nhiên toát ra từ lá trà, lòng an nhiên trước bao bộn bề.</p>
    <div></div>
  </div>

  <div class="chontra">
    <div class="chon">
      <img src="/static/images\image 100 (1).svg" alt="" class="ig">
      <div class="main-tit">
        <h2>LỰA CHỌN LOẠI TRÀ</h2> <hr>
      </div>
      <img src="/static/images\image 187.svg" alt=""class="ig">
    </div>
    <div class="ct">
      <div class="tra">
        <div class="imgtra"><img src="/static/images\Group 252288.svg" alt=""></div>
        <h3>TRÀ THIẾT QUAN ÂM</h3>
        <p>Tương truyền rằng trong thời loạn lạc, người dân Phúc Kiến  một lòng thờ phụng Quan Âm nên được ban cho giống trà thượng hạng với màu nước vàng sáng, mùi thơm tự nhiên dịu nhẹ của hoa lan và vị chát thanh, nhẹ nhàng lất tên Thiết Quan Âm</p>
      </div>
      <div class="tra">
        <div class="imgtra"><img src="/static/images\Group 252294.svg" alt=""></div>
        <h3>TRÀ Ô LONG</h3>
        <p>Trà Ô Long, một trong những đại danh trà với hương vị tinh tế với nhiều biến thể có thể là mùi vị trái cây với mùi hương mật ong, hoặc giống gỗ và dày với mùi hương rang. Đặc biệt chế biến trà Ô Long với cách thức bán lên men tự nhiên.</p>
      </div>
      <div class="tra">
        <div class="imgtra"><img src="/static/images\Group 39.svg" alt=""></div>
        <h3>TRÀ XANH THÁI NGUYÊN</h3>
        <p>Trà xanh là loại thức uống truyền thống của người Châu Á từ ngàn xưa đến nay. Từ những đọt trà non xanh tươi mơn mởn, được chế biến không qua công đoạn lên men nhằm nhằm đảm bảo trọn vẹn hương vị thiên nhiên cùng dư vị trà chát nhẹ nhưng thanh khiết.</p>
      </div>
      <div class="tra">
        <div class="imgtra"><img src="/static/images\Group 252289.svg" alt=""></div>
        <h3>TRÀ TIỂU LONG CHÂU</h3>
        <p>Trà Tiểu Long Châu như chính tên gọi, được tạo dáng thành những viên ngọc tròn nhỏ nhắn từ những búp trà non xanh tươi nhất với sự khéo léo của những nghệ nhân trà, khi pha có  màu xanh vàng tươi sáng, với mùi hương nhài và vị thơm dịu nhẹ.</p>
      </div>
    </div>
  </div>
{% endblock %}