{% extends 'user/base.html' %}

{% block title %}
Trà & Cà Phê
{% endblock %}

{% block content %}
  <div class="chung">
    <a href="/caphe">
    <img src="/static/images\Group 252248 (1).svg" alt="" class="m1">
    <div class="ndnen">
      <div class="ndnen3">CÀ PHÊ.</div>
      <div class="ndnen1">Phúc Long sẽ luôn luôn đồng hành cùng bạn trên hành trình tìm kiếm những hạt cà phê ngon nhất, rang chúng cho đến mức hoàn hảo, tôn trọng nguyên bản cho tách cà phê đậm vị, thuần chất Việt.</div>
    </div>
    </a>
  </div>
  <div class="chung">
    <a href="/tra">
    <img src="/static/images\Group 252248.svg" alt="">
    <div class="ndnen">
      <div class="ndnen2">TRÀ.</div>
      <div class="ndnen1">Phúc Long đã và đang không ngừng tìm kiếm những giống trà hảo hạng, không ngừng tìm tòi - cải tiến phương pháp sản xuất để cho ra đời sản phẩm thuần vị.</div>
    </div>
    </a>
  </div>
{% endblock %}